{
  "defaultLanguage": "en",
  "supportedLanguages": [
    {
      "code": "en",
      "name": "English",
      "flag": "🇬🇧🇨🇦"
    },
    {
      "code": "fr",
      "name": "Français",
      "flag": "⚜️🇨🇦"
    },
    {
      "code": "mx",
      "name": "Español",
      "flag": "🇲🇽"
    },
    {
      "code": "ht",
      "name": "Kreyòl Ayisyen",
      "flag": "🇭🇹"
    }
  ]
}
